:root {
    --container-bg-color: #333;
    --left-bg-color: rgba(39, 18, 223, 0.7);
    --left-button-hover-color: rgba(161, 11, 11, 0.3);
    --right-bg-color: rgba(43, 43, 43, 0.8);
    --right-button-hover-color: rgba(92, 92, 92, 0.3);
    --hover-width: 60%;
    --other-width: 40%;
    --speed: 1000ms;
}

html, body {
    padding:0;
    margin:0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--container-bg-color);
}

.header {
    height: 3rem;
    width: 100%;
    background-image: linear-gradient(0,#1127a5, #203cda) ;
}
.header__navbar {
    display: flex;
    justify-content: space-between;
    width : 100%;
}
.header__navbar-logo {
    width: 3rem;
    height: auto;
}
.header__navbar-logo-image {
    width: 100%;
    height: auto;
}
.header__navbar-list {
    list-style-type: none;
    justify-content: space-between;
    width: 25%;
    display: flex;
    margin: 0 0;
    margin-right: 20px
}
.header__navbar-item {
    margin-top: 10px;
    
}

.header__navbar-item-link {
    text-decoration: none;
    color: rgb(236, 221, 221);
    padding: 5px 5px;
}

.header__navbar-item-link:hover {
    color: rgb(32, 134, 230);
    border: 2px  rgba(32, 134, 230, 0.7);
    border-radius: 2px;
}