{{ define "main" }}

<section class="site-blog-header">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h1>{{ .Title }}</h1>
                <p>
                    {{ .Params.description }}
                </p>
            </div>
        </div>
    </div>
</section>

<section class="site-blog">
    {{ if (eq $.Parent.Title "Blogs") }}

    <div class="container">
        <div class="row">
            {{ if eq (len .Pages) 0 }}
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h3>Team chúng mình vẫn chưa có blog cho category này :(((</h3>
                        <p>
                            Hẹn gặp lại các bạn vào lần sau
                        </p>
                    </div>
                </div>
            </div>
            {{else}}
            {{ range (.Paginator 6).Pages }}
            <div class="col-lg-6">
                <article class="site-blog-post">
                    {{ with .Params.image }}
                    <div class="site-blog-post-thumb">
                        <img src="{{ . | absURL }}" alt="post-thumb">
                    </div>
                    {{ end }}
                    <div class="site-blog-post-content">
                        <span>{{ .PublishDate.Format "January 2, 2006" }}</span>
                        <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
                        <p>
                            {{ .Summary }} ...
                        </p>
                        <a href="{{ .Permalink }}" class="read-more">read more</a>
                    </div>
                </article>
            </div>
            {{ end }}
            <div class="col-12">
                <div class="site-blog-pagination">
                    {{ template "_internal/pagination.html" . }}
                </div>
            </div>
            {{end}}
        </div>
    </div>

    {{else}}

    <div class="container">
        <div class="row section-row">
            {{ range .Sections}}
            <div class="col-lg-12">
                <article class="site-blog-post">
                    {{ with .Params.image }}
                    <div class="site-blog-post-thumb">
                        <img src="{{ . | absURL }}" alt="post-thumb">
                    </div>
                    {{ end }}
                    <div class="site-blog-post-content">
                        <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
                        <p>
                            {{ .Params.description }}
                        </p>
                        <a href="{{ .Permalink }}" class="read-more">{{ .Params.read_more}}</a>
                    </div>
                </article>
            </div>
            {{ end }}
        </div>
    </div>

    {{end}}
</section>

{{ end }}