<div class="header">
    <nav class="header__navbar">
        <div class="header__navbar-logo">
            <img src="images/logo.png" alt="" class="header__navbar-logo-image">
        </div>
        <ul class="header__navbar-list">
            <li class="header__navbar-item"> 
                <a href="" class="header__navbar-item-link">
                    Home
                </a>
            </li>
            <li class="header__navbar-item"> 
                <a href="" class="header__navbar-item-link">
                    About
                </a>
            </li>
            <li class="header__navbar-item"> 
                <a href="" class="header__navbar-item-link">
                    Recruitment
                </a>
            </li>
            <li class="header__navbar-item"> 
                <a href="" class="header__navbar-item-link">
                    Contact
                </a>
            </li>
            
        </ul>

    </nav>

</div>