<div class="myclass">
    <div class="split left" style="background: url(images/audio.jpg) center center no-repeat; background-size: cover">
        <p class="h1">About Us</p>
        <p class="h2">...</p>
        <a href="#" class="button">Read More</a>
    </div>
    <div class="split right" style="background: url(images/programmer.png) center center no-repeat; background-size: cover">
        <p class="h1">Recruitment</p>
        <p class="h2">...</p>
        <a href="#" class="button">Read More</a>
    </div>
</div>
