<div class="myclass">
    <div class="split left" style="background: url(images/audio.jpg) center center no-repeat; background-size: cover">
        <p class="h1">About Us</p>
        <br>
        <a href="/about/" class="button">Read More</a>
    </div>
    <div class="split right" style="background: url(images/programmer.png) center center no-repeat; background-size: cover">
        <p class="h1">Recruitment</p>
        <br>
        <a href="/recruitment/" class="button">Join Us</a>
    </div>
</div>
