<div class="container" id="id-sponsors">
    <div class="text-center">
        <h2 style="margin:20px 0;color:#fff;">Sponsors</h2>
    </div>
    <div id="sponsor-carousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="row">
                    <div class="col-sm-3 col-xs-6">
                        <div class="sponsor-feature"><img alt=""
                                src="images/vng.png"
                                style="height: 150px;" /></div>
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <div class="sponsor-feature"><img alt=""
                                src="images/polaris.png" /></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>